.nav-link{
    display: inline-block;
    box-sizing: content-box;
    width: 170px;
    padding: 7px;
    margin: 0 7px 7px;
    background: blue;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 13px) ;
    color: white;
}

.active {
    color: white;
}